.SetupForm{
    background-color:#ffffff;
    box-shadow: 10px 10px 5px rgba(163, 158, 158,0.4);
    border-radius: 15px;
    width:70vh;
    height:80vh; 
    margin-top: 8vh;
   margin: 20,20,20,20;
   text-align: center;
   justify-content: center;
   align-items: center;
   display:flex;
   color: black;
  }

  .mb-1{
      margin: 10px 8px;
      /* justify-content: space-around; */
  }
  .heading-1{
  
  margin-bottom: 50px;
   font-weight: bold;
   }
