.setup {
    /* background: #282c34; */
    background-image: linear-gradient(to bottom right, #acb6e5,#86fde8);
    min-height: 100vh;
    display:flex;
    flex-direction:center;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
.winner{
    background-color:#ffffff;
    box-shadow: 10px 10px 5px rgba(163, 158, 158,0.4);
    border-radius: 15px;
    width:80vh;
    height:80vh; 
    margin-top: -10vh;
   text-align: left;
   justify-content: center;
   align-items: center;
   display:flex;
   flex-direction: column;
   color: black;
    box-sizing: border-box;
}

.WinnerHeadingButton{
  padding: 10px;
   text-align: center;
   align-items: center;
}

